@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  background-color: rgb(243 244 246);
}

.bluedot {
  height: 25px;
  width: 25px;
  background-color: rgb(0, 143, 251);
  border-radius: 50%;
  display: inline-block;
}

.greendot {
  height: 25px;
  width: 25px;
  background-color: rgb(0, 227, 150);
  border-radius: 50%;
  display: inline-block;
}

.yellowdot {
  height: 25px;
  width: 25px;
  background-color: rgb(254, 176, 25);
  border-radius: 50%;
  display: inline-block;
}

.reddot {
  height: 25px;
  width: 25px;
  background-color: rgb(255, 69, 96);
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}